* {
    margin: 0;
    padding: 0;
}

body {
    color: black;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.top {
    border-radius: 2px ;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  25px 25px 50px #b8b8b8,
                 -25px -25px 50px #ffffff;
        width: auto;
        padding: 20px;
        display: grid;
        grid-template-columns: 0.5fr 1.5fr 1fr;

}

.topper{
   
    height: 40px;
    padding: 15px 20px ;
    border-radius: 19px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  20px 20px 25px #b8b8b8,
                 -20px -20px 25px #ffffff;
             

}
.love{
    margin-left: 50px;
}
ion-icon {
    font-size: 30px;
  }
  .rocky{
    text-align: center;
  }
  h3{
        font-size: 14px;
        text-align: center;
        padding-left: 20px;
        padding-top: 20px;
  }
  .img-box{
    position: relative;
    left: 20px;
    width:90%;
    margin-top: 20px;

    height: 380px;
    border-radius: 19px;
background: #ffffff;
box-shadow:  20px 20px 54px #b8b8b8,
             -20px -20px 54px #ffffff;
  }
  .img-bx{
    height: 300px;
    position: relative;
    left: 20px;
    top: 10px;
    border-radius: 10px;
    width: 90%;
   /* background-color: black; */
   background-image: url(img/326883544_236783165359560_2048548970014524439_n.webp);
   background-size: cover;
  }

  .name{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    
    /* background-color: red; */

  }
  .name1{
    /* background-color: yellow; */
    width: 40px;
  }
  .heart{
    /* background-color: orange; */
    width: 30px;
  }

  h4{
    font-size: 20px;
    margin-top: 11px;
    margin-left: 10px;
    color: brown;
  }
  h1{
    font-size: 25px;
    margin-bottom: 2px;
    margin-left: 3px;
  }
  .heart{
    position: absolute;
    right: 5px;
    top: 317px;

  }
  .heart ion-icon {
    color: red;
  }

  .box{
    margin-top: 27px;
    /* background-color: rgb(119, 195, 14); */
    height: 250px;
  }

  .inte{
    position: relative;
    left: 10px;
    top: 8px;
    border-radius: 10px;
    /* background-color: red; */
    height: 40px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 4px 0px;
   align-items: center; 
  }
  h5{
    font-size: 15px;
  }
  .line{
    border-radius: 19px;
background: #ffffff;
box-shadow:  20px 20px 88px #1f1d1d,
             -20px -20px 88px #ffffff;
    width: 95%;
    position: relative;
    left:10px;
    border-radius: 30px;
    top: 20px;
    height: 30px;
    display: flex;
    align-items: center;
}
.real-liine{
    border-radius: 10px;
    background-color: red;
    position: relative;
    left: 10px;
    width: 80%;
    height: 10px;

}
.control{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 27px;
}
.btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 87px;
    border-radius: 10px;
    /* border-radius: 19px; */
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  20px 20px 88px #2b2a2a,
                 -20px -20px 88px #ffffff;
}
.btn1:hover{
    background-color: #1002029e;
}
.btn2:hover{
    background-color: #10020281;
}

.btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 129px;
    border-radius: 10px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  20px 20px 88px #232222,
                 -20px -20px 88px #ffffff;
}